@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

body {
  padding: 0;
  /* background-color: #f8f9fa; */
}

/* jobs Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%; /* Reduced padding */
  background-color: #ffffff;
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.nav_links {
  list-style-type: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

.nav_links li a:hover {
  color: #670420;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  background-color: #670420;
}

.greetings {
  max-width: 900px;
  margin: 20px auto;
}

.greetings h2 {
  padding-left: 20px;
  margin-bottom: 60px;
}

.jobs-list-container {
  max-width: 900px;
  margin: 20px auto;
}

.jobs-list-container h2 {
  font-size: 30px;
  border-left: 4px solid #000000;
  padding-left: 20px;
  margin-bottom: 25px;
}

.jobs-list-container .jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.job img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.jobs-list-container .job-status {
  position: absolute;
  top: 40px;
  right: 24px;
  color: #e63946;
}

.jobs-list-container .job-title {
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: #000000;
}

.jobs-list-container .details {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
  flex: 1;
}

.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #670420;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
  background: #670420;
  color: #fff;
}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}

.job-status.working {
  color: #1bc3ed;
}

.job-status.rejected {
  color: #ff0000;
}

.job-status.accepted {
  color: #008000;
}

.job-status.pending {
  color: #e6a235;
}

.job-status.past {
  color: #62605c;
}

.jobs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.job {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.company-title {
  font-size: 18px;
  margin: 0;
}

.supervision {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.details {
  color: #666;
  margin: 10px 0;
  flex-grow: 1;
}

.type-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}

.type {
  background-color: #eee;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
}

.type.active-hiring {
  color: rgb(23, 104, 47);
  font-weight: 700;
}

.type.growing-fast {
  color: rgb(100, 100, 100);
  font-weight: 700;
}

.type.rating {
  color: rgb(238, 145, 23);
  font-weight: 700;
}

.active-hiring {
  background-color: #d4edda;
}

.rating {
  background-color: #fff3cd;
}

.growing-fast {
  background-color: #e2e3e5;
}

.positions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.positions span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.arrow-icon {
  font-size: 18px;
  color: #333;
}

.job-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-header img {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.modal-content {
  background-color: #ffffff;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* table */
@media print {
  .table, .table__body {
   overflow: visible;
   height: auto !important;
   width: auto !important;
  }
 }

main.table{

  backdrop-filter: blur(7px);
  
}

/* --------> */
.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.table__header .input-group:hover {
  width: 40%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}



.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}


.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}


/* --------> */
table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}



.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.apply {
  background-color: #ebc474;
}

/* --------> */
@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow{
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: #6c00bd;
}


